.App {
    text-align: center;
    justify-content: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
#pic{
    width: 30vw;
}
#minipic{
    width: 20vw;
}
.main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    align-self: center;
    align-items: center;
    background-color: #61dafb;
}
button{ 
    align-self: center;
    background-color: #add9e5;
    font-size: medium;
    border: 2px solid;
    border-radius: 2px;
    border-color: rgb(4, 4, 41);
    height: 5vh;

}
.nav{
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
}

input{
    width: 18vw;
    height: 4vh;
    font-size: medium;
}